.root {
    -fx-font-family: Roboto-Medium;
    -fx-font-size: 14;
    -fx-font-weight: normal;
    -fx-font-smoothing-type: gray;
    -fx-text-alignment: center;
}

.combo-box-base {
    -fx-background-color: white;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 4;
    -fx-border-color: #3F51B5;
    -fx-border-radius: 4;
    -fx-border-width: 2;
    -fx-font-family: Roboto-Medium;
    -fx-max-width: 220;
    -fx-min-width: 220;
    -fx-text-fill: black;
}

.combo-box .list-view {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-font-family: Roboto-Medium;
    -fx-font-size: 14;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #9FA8DA;
    -fx-cursor:hand;
}

.combo-box .list-view .list-cell:focused {
    -fx-background-color: #9FA8DA;
    -fx-text-fill: black;
}

.browse-btn {
    -fx-background-color: #3F51B5;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-font-family: Roboto Medium;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-text-fill: white;
}

.browse-btn:hover {
    -fx-cursor:hand;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.3), 7, 0, 0, 2);
}

.browse-btn:pressed {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 16, 0, 0, 3);
}

.start-btn {
    -fx-background-color: #4CAF50;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-font-family: Roboto Medium;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-max-width: 120;
    -fx-min-width: 120;
    -fx-max-height: 40;
    -fx-min-height: 40;
    -fx-text-fill: white;
}

.start-btn:hover {
    -fx-cursor:hand;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.3), 7, 0, 0, 2);
}

.start-btn:pressed {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 16, 0, 0, 3);
}

.dialog-pane .button {
    -fx-background-color: #F44336;
    -fx-background-radius: 4;
    -fx-background-insets: 0;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 5, 0, 0, 1);
    -fx-font-family: Roboto Medium;
    -fx-font-size: 14;
    -fx-font-weight: bold;
    -fx-max-width: 90;
    -fx-min-width: 90;
    -fx-max-height: 35;
    -fx-min-height: 35;
    -fx-text-fill: white;
 }

.dialog-pane .button:hover {
    -fx-cursor: hand;
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.3), 7, 0, 0, 2);
}

.dialog-pane .:pressed {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.4), 16, 0, 0, 3);
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart {
    -fx-padding: 10;
}
.chart-content {
    -fx-padding: 20;
}

.chart-legend {
   -fx-padding: 10;
}

.chart-legend-item-symbol{
    -fx-background-radius: 10;
    -fx-padding: 5 5 5 5;
}

.default-color0.chart-series-line {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.3), 7, 0, 0, 2);
    -fx-stroke: #3333FF;
    -fx-stroke-width: 1;
}

.default-color1.chart-series-line {
    -fx-effect: dropShadow(three-pass-box , rgba(0, 0, 0, 0.3), 7, 0, 0, 2);
    -fx-stroke: #FF0000;
    -fx-stroke-width: 1;
}

.default-color0.chart-line-symbol {
    -fx-background-color: #3333FF, white;
}

.default-color1.chart-line-symbol {
    -fx-background-color: #FF0000, white;
}

.chart-line-symbol {
    -fx-padding: 2 2 2 2;
}